			.top{
				width: 100%;
				height: 130px;
				background: black;
				position: fixed;
				top: 0;
				z-index: 998;
				box-sizing: border-box;
			}
			.top .active{
				position: fixed;
				top: 0;
			}
			.top .header{
				width: 100%;
				height:62%;
				background: black;
				position: relative;
			}
			.header .logo{
				position: absolute;
				top: 50%;margin-top: -20px;
				left: 60px;
				width: 163px;
				height: 40px;
				background:url(../img/db2267771010d49d8837c2978ea22d0.png) no-repeat;
				/*background-position: -96px -86px;*/
			}
			.header .denglu{
				color:white;
				width: 143px;
				height:100%;
				position: absolute;
				left: 680px;
				line-height: 80px;
				text-align: center;
				box-sizing: border-box;
			} 
			.header .s1,.header .carrnum,.header .liaotian,.header .search,.header .wenti,.header .s2{
				width: 30px;
				height: 30px;
				position: absolute;
				top: 50%;right: 0;
				margin-top: -15px;
				text-align: center;
				line-height: 30px;
			}
			.header .denglu .s1{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -96px -86px;
			}
			.header .denglu:hover .s1{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -136px -66px;
			}
			.top .header .denglu .sanjiao{
				display:none;
				position: absolute;
				right: 0;bottom:-20px;
				border-top: 20px solid black;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-bottom: none;
				z-index: 999;
			}
			.header .denglu_success{
				color:white;
				width: 180px;
				height:100%;
				position: absolute;
				left: 650px;
				line-height: 80px;
				text-align: center;
				box-sizing: border-box;
				font-family: "SimHei";
				font-weight: inherit;
				display: none;
			} 
			.header .denglu_success .s2{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -137px -97px;
			}
			.header .gwc{
				width: 116px;
				height: 100%;
				color:white;
				position: absolute;
				left: 830px;
				line-height: 80px;
				text-align: center;
				box-sizing: border-box;
			}
			.header .gwc .carrnum{
				color: white;
				font-size: 15px;
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -168px -97px;
			}
			.header .lt,.header .ss,.header .wt{
				width:80px;
				height:100%;
				position: relative;
				float: left;
			}
			.header .lt .liaotian{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -95px -54px;
			}
			.header .ss .search{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -137px -161px;
			}
			.header .wt .wenti{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -168px -161px;
			}
			.header .lt .liaotian:hover{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -135px -33px;
			}
			.header .ss .search:hover{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -135px -1px;
			}
			.header .wt .wenti:hover{
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -167px -1px;
			}
			.header .lt{
				margin-left: 950px;
			}
			.top .list{
				width: 100%;
				height: 38%;
				background:#464646;
				position: relative;
				text-align: center;
				box-sizing: border-box;
			}
			.top .list>ul{
				display: inline-block;
				height: 100%;
			}
			.top .list>ul li{
				width: 134px;
				height: 100%;
				float: left;
				text-align: center;
			}
			.top .list>ul li a{
				display: block;
				height: 100%;
				color: white;
				font-size: 18px;
				line-height: 40px;
				position: relative;
			}
			.top .list>ul li a i{
				position: absolute;
				bottom: 10px;left: 50%;margin-left: -6px;
				border-top: 6px solid white;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: none;
			}
			.top .list .item{
				width: 100%;
				height: 262px;
				background:white;
				z-index: 999;
				position:absolute;
				top: 100%;
				display: none;
				opacity: 0;
			}
			.top .list .item ul{
				width: 100%;
				height: 130px;
				box-sizing: border-box;
				padding:0  100px;
			}
			.top .list .item li{
				width: 130px;height: 130px;
				float: left;
				position: relative;
			}
			.top .list .item li img{
				width: 130px;height: 130px;
			}
			.top .list .item li span{
				display: block;
			    position: absolute;
			    bottom: 15px;
			    width: 100%;
			    text-align: center;
			    line-height: 15px;
			    left: 0;
			}
			.top .hidden_interface{
				width: 100%;
				background: white;
				position: relative;
			}
			.top .login_register{
				display: none;
			}
			.top .box{
				width: 1000px;
				height: 317px;
				position:relative;
				margin: 0 auto;
				padding: 40px 0;
				display: none;
			}
			.hidden_interface .login_interface{
				opacity:0;
			}
			.hidden_interface .register_interface{
				opacity: 0;
			}
			.top .ss_interface{
				width: 1000px;
				height: 40px;
				position:relative;
				margin: 0 auto;
				padding: 20px 0;
				display: none;
				overflow: hidden;
			}
			.top .ss_interface input{
				width:90%;
				height:40px;
				float: left;
				border: none;
				font-size: 24px;
			}
			.top .ss_interface .btn{
				width: 10%;
				height:40px;
				float: right;
			}
			.top .ss_interface span{
				display: block;
				width: 32px;
				height: 32px;
				float:  left;
				margin-left: 10px;
				margin-top: 5px;
				background: url(../img/sprites_header_footer.png) no-repeat;
			}
			.top .ss_interface .search_btn{
				background-position:-135px -160px;
			}
			.top .ss_interface .search_btn:hover{
				background-position:-133px 0;
			}
			.top .ss_interface .close_btn{
				background-position:-169px -130px;
			}
			.top .ss_interface .close_btn:hover{
				background-position:-137px -130px;
			}
			.top .hidden_interface .login_interface>div{
				float: left;
			}
			.top .hidden_interface .login_interface .left{
				width: 150px;
				height: 100%;
			}
			.top .hidden_interface .login_interface h2{
				font-size: 24px;
			}
			.top .hidden_interface .login_interface .left .register{
				display: block;
				width:100%;
				height: 40px;
				font-size: 18px;
				background: black;
				color:white;
				font-size: 18px;
				line-height:40px;
				transition: all 0.1s;
				box-sizing: border-box;
				position: relative;
				margin-top: 20px;
				text-align: center;
			}
			.top .hidden_interface .login_interface .left .register i{
				width: 20px;
				height: 30px;
				position: absolute;
				right: 10px;top:5px;
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -7px -162px;
				box-sizing: border-box;
			}
			.top .hidden_interface .login_interface .middle{
				width: 300px;
				height: 100%;
				padding: 0 60px;
				margin: 0 60px;
				border-left: 1px solid black;
				border-right: 1px solid black;
			}
			.top .hidden_interface .login_interface .middle ul{
				margin-top: 20px;
			}
			.top .hidden_interface .login_interface .middle ul li{
				float: left;margin-left: 10px;
			}
			.top .hidden_interface .login_interface .middle ul li a{
				display: block;width: 40px;height: 40px;overflow: hidden;
				background: url(../img/shareimg.png) no-repeat;
			}
			.top .hidden_interface .login_interface .middle .qq{
				background-position-y: -96px;
			}
			.top .hidden_interface .login_interface .middle .renren{
				background-position-y:-144px;
			}
			.top .hidden_interface .login_interface .middle .zhifubao{
				background-position-y: -48px;
			}
			.top .hidden_interface .login_interface .right{
				width: 300px;
				height:337px;
			}
			.top .hidden_interface .login_interface .right input{
				width: 100%;
				height: 40px;
				border: 1px solid #999999;
				padding: 5px 5px 5px 18px;
				line-height: 30px;
				box-sizing: border-box;
				margin-top: 20px;
			}
			#verification,#verification1{
				width: 143px;
				height: 40px;
			}
			.top .hidden_interface .login_interface .right a{
				display: inline-block;
				position: relative;
				top: 15px;
			}
			.top .hidden_interface .login_interface .right .change{
				left: 85%;
			}
			.top .hidden_interface .login_interface .right p{
				margin-top: 20px;
			}
			.top .hidden_interface .login_interface .right button{
				display: block;
				width:100%;
				height: 40px;
				font-size: 18px;
				background: black;
				color:white;
				font-size: 18px;
				transition: all 0.2s;
				box-sizing: border-box;
				position: relative;
				margin-top: 20px;
				border: none;
				text-align: center;
			}
			.top .hidden_interface .login_interface .right button i{
				width: 20px;
				height: 30px;
				position: absolute;
				right: 100px;top:5px;
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -7px -162px;
				box-sizing: border-box;
			}
			.top .hidden_interface .login_interface .right .checkbox{
				width: 16px;height: 16px;
				margin-top: 5px;
			}
			.top .hidden_interface .register_interface ul{
				width: 1000px;
				height: 317px;
			}
			.top .hidden_interface .register_interface ul li{
				float: left;
				width: 300px;
				height: 100px;
				margin-left: 30px;
				position: relative;
			}
			.top .hidden_interface .register_interface ul li input{
				width: 100%;
				height: 40px;
				line-height: 30px;
				padding: 5px 5px 5px 18px;
				box-sizing: border-box;
				margin-top: 10px;
				font-size: 12px;
			}
			.top .hidden_interface .register_interface ul li span{
				color: red;
				display: none;
			}
			.top .hidden_interface .register_interface ul .sex input{
				width:16px;
				height:16px;
				margin: 20px 10px;
				font-size: 12px;
			}
			.top .hidden_interface .register_interface button{
				display: block;
				width:100%;
				height: 40px;
				font-size: 18px;
				background: black;
				color:white;
				font-size: 18px;
				transition: all 0.2s;
				box-sizing: border-box;
				position: relative;
				margin-top: 12px;
				border: none;
				text-align: center;
			}
			.top .hidden_interface .register_interface button i{
				width: 20px;
				height: 30px;
				position: absolute;
				right: 80px;top:5px;
				background:url(../img/sprites_header_footer.png) no-repeat;
				background-position: -7px -162px;
				box-sizing: border-box;
			}
			.top .hidden_interface .register_interface .select{
				margin-top: 10px;
				width: 88px;
				height: 40px;
				box-sizing: border-box;
				float: left;
				margin-left: 12px;
			}
			.top .hidden_interface .register_interface .select .text_right{
			    position: relative;
			    width:100%;
			    height:100%;
			    border: 1px solid #b7b7b7;
			    float: right;
			    box-sizing: border-box;
			}
			.top .hidden_interface .register_interface .select .text_right span{
			    color: #333;
			    font-size: 12px;
			    text-align: center;
			    display: block;
			    height: 40px;
			    line-height: 40px;
			    width: 58px;
			}
			.top .hidden_interface .register_interface .select .text_right i{
				width: 30px;
			    height: 38px;
			    display: block;
			    background: url(../img/detail.png) no-repeat  11px -125px;
			    position: absolute;
			    right: 0;
			    top: 0;
			    border-left: 1px solid #b7b7b7;
			}
			.top .hidden_interface .register_interface .select .text_right .size{
				width: 100%;
			    height: 40px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    z-index: 1;
			    opacity: 0;
			    cursor: pointer;
			    font-family:  "新宋体";
			}
			.top .hidden_interface .register_interface #duanxin{
				width: 143px;
				height: 40px;
			}
			.top .hidden_interface .register_interface .send{
				display: inline-block;
				width: 143px;
				height: 40px;
				background: #999999;
				text-align: center;
				line-height: 40px;
				color: white;
				margin-left: 10px;
			}
			.top .hidden_interface .header_cart{
				width: 1000px;
				height: 205px;
				padding: 36px 0;
				margin: 0 auto;
				overflow: hidden;
				display: none;
				position: relative;
			}
			.top .hidden_interface .header_cart .close_cart{
				background: url(../img/X-copy.png) no-repeat center center;
				width: 30px;
				height: 30px;
				position: absolute;
				top: 36px;
				right: 0;
			}
			.top .hidden_interface .header_cart .left{
				width: 15%;
				float: left;
				margin-top: 70px;
			}
			.top .hidden_interface .header_cart .middle{
				width: 57%;
				float: left
			}
			.top .hidden_interface .header_cart .middle h1{
				font-size: 28px;
				font-weight: bold;
			}
			.top .hidden_interface .header_cart .middle h2{
				font-size: 24px;
				margin-top: 20px;
			}
			.top .hidden_interface .header_cart .middle h2 i{
				float: right;
			}
			.top .hidden_interface .header_cart .middle p{
				margin-top: 20px;
				line-height: 20px;
				font-size: 15px;
				font-weight: bold;
			}
			.top .hidden_interface .header_cart .right{
				width: 24%;
				float: left;
				height: 151px;
				margin-top: 55px;
				margin-left: 30px;
				border-left: 1px solid black;
				box-sizing: border-box;
				position: relative;
				padding-left: 20px;
			}
			.top .hidden_interface .header_cart .right h2{
				color:#940000;
			}
			.top .hidden_interface .header_cart .right h2 i{
				font-size: 28px;
			}
			.top .hidden_interface .header_cart .right .money_btn{
				width: 220px;
				height: 50px;
				display: block;
				color: white;
				background: #940000;
				text-align: center;
				line-height:50px;
				margin-top: 5px;
				font-size: 16px;
				position: absolute;
				bottom: 0;right: 0;
			}
